<mat-toolbar class="mat-elevation-z8" color="primary">
    <span>
      <a class="header-title" routerLink="/">{{title}}</a>
    </span>
    <span class="small-spacer"></span>
    <div *ngFor="let navLink of primaryNavLinks">
      <span class="small-spacer"></span>
      <a mat-button routerLinkActive="is-active" [routerLink]="navLink.routerLink" class="header-link"
        [disabled]="navLink.disabled">{{navLink.display_name}}<br><small>{{navLink.type}}</small></a>
    </div>
    <span class="small-spacer"></span>
    <span class="wide-spacer"></span>
    <app-login></app-login>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="copyright">
      © <span>{{year}}</span> Kajeepan Kandeepan
    </div>
    <div class="version">
      Version: {{version}}
    </div>
  </div>