<mat-toolbar class="mat-elevation-z8" color="primary">
    <span>
      <a class="header-title" routerLink="/">{{title}}</a>
    </span>
    <span class="small-spacer"></span>
    <ng-container *ngFor="let navLink of primaryNavLinks">
      <span class="small-spacer"></span>
      <a mat-button routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="navLink.routerLink" class="header-link"
        [disabled]="navLink.disabled">{{navLink.display_name}}<br><small>{{navLink.type}}</small></a>
      </ng-container>
      <span class="small-spacer"></span>
      <a mat-button href="http://rms.mibi" target="_blank" class="header-link">Reagenzien</a>
    <span class="wide-spacer"></span>
    <app-login></app-login>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="copyright">
      © <span>{{year}}</span> MVZ Dr. Eberhard & Partner
    </div>
    <div class="version">
      Version: {{version}}
    </div>
  </div>